.pin-wrapper {
    position: absolute;
}
.pin-image {
    width: 20px;
    float: left;
}
.pin-name {
    cursor: default;
    width: 100px;

    line-height: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: black;
}