.pin-wrapper {
    position: absolute;
}
.pin-image {
    width: 20px;
    float: left;
}
.pin-name {
    cursor: default;
    width: 150px;

    line-height: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.6px white;
}

/* モーダルウィンドウのスタイル */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-top: 3px solid rgb(243, 203, 45);
}

.modal-image {
    width: 80%; /* または必要に応じて調整 */
    margin: 20px 0;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content ul {
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}